# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.lock

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
.DS_Store
pubspec.lock

# Backups
francis-old.html
